**/.vscode/*
**/models/*/__pycache__/*
**/test/*/.ipynb_checkpoints
**/models/analyze/analyze_results/*.png
**/models/analyze/analyze_results/*.csv
**/models/files_for_model/data_*/*
**/test/notebooks/results/*.png
**/instructions/*
**/.idea/*
**/test/*